In [1]:
import pymysql
import numpy as np
import pandas as pd
import pandas as pd
import os, json, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

In [2]:
filename = 'https://datasets.imdbws.com/title.basics.tsv.gz'
df = pd.read_csv(filename, sep='\t', low_memory=False)

df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
# replacing \N
df = df.replace({'\\N':np.nan})

In [7]:
df= df.dropna(subset = ['runtimeMinutes','genres'])

In [8]:
df = df.loc[(df['startYear'] >= '2000')]

In [9]:
df['startYear'] = df['startYear'].astype(float)

In [14]:
# df.dropna(inplace = True)
# df.head(50)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
108563,tt0111056,tvSeries,Gensomaden Saiyuki,Gensomaden Saiyuki,0,2000,2001,23,"Action,Adventure,Animation"
137836,tt0142032,tvMiniSeries,Dune,Dune,0,2000,2000,265,"Adventure,Drama,Sci-Fi"
153556,tt0158466,tvMiniSeries,Anne of Green Gables: The Continuing Story,Anne of Green Gables: The Continuing Story,0,2000,2000,185,"Drama,Family,Romance"
155749,tt0160904,tvSeries,MI-5,Spooks,0,2002,2011,60,"Action,Crime,Drama"
158616,tt0163944,tvMiniSeries,Labyrinten,Labyrinten,0,2000,2000,259,"Drama,Thriller"
162047,tt0167701,tvSeries,Randall & Hopkirk (Deceased),Randall & Hopkirk (Deceased),0,2000,2001,50,"Comedy,Crime,Fantasy"
171933,tt0178140,tvMiniSeries,The Wide Net,Det grovmaskiga n√§tet,0,2000,2000,176,"Crime,Drama,Mystery"
171953,tt0178161,tvSeries,The Secret Adventures of Jules Verne,The Secret Adventures of Jules Verne,0,2000,2000,60,"Adventure,Horror,Sci-Fi"
172796,tt0179051,tvMiniSeries,Ted and Alice,Ted and Alice,0,2002,2002,180,"Comedy,Drama,Romance"
174784,tt0181199,tvMiniSeries,Arabian Nights,Arabian Nights,0,2000,2000,175,"Adventure,Family,Fantasy"
179160,tt0185906,tvMiniSeries,Band of Brothers,Band of Brothers,0,2001,2001,594,"Drama,History,War"
180743,tt0187621,tvSeries,Beast,Beast,0,2000,2001,29,Comedy
181407,tt0188340,tvSeries,Kamen Rider Kuuga,Kamen raid√¢ K√ªga,0,2000,2001,30,"Action,Adventure,Drama"
182284,tt0189303,tvSeries,Sauvetage,Sauvetage,0,2000,2002,52,Drama
184495,tt0191694,tvSeries,La grosse √©mission,La grosse √©mission,0,2001,2016,52,"Comedy,Talk-Show"
187234,tt0194608,tvMiniSeries,Edderkoppen,Edderkoppen,0,2000,2000,58,"Crime,Drama,History"
188425,tt0195896,tvSeries,M.Y.O.B.,M.Y.O.B.,0,2000,2000,30,Comedy
189615,tt0197154,tvMiniSeries,Gormenghast,Gormenghast,0,2000,2000,232,"Adventure,Comedy,Drama"
190504,tt0198099,tvSeries,Daddio,Daddio,0,2000,2000,30,Comedy
191713,tt0199421,tvSeries,Higher Ground,Higher Ground,0,2000,2000,60,Drama
192562,tt0200373,tvSeries,Secret Agent Man,Secret Agent Man,0,2000,2000,86,"Action,Thriller"
193469,tt0201374,tvMiniSeries,Anderssons √§lskarinna,Anderssons √§lskarinna,0,2001,2001,347,Drama
194480,tt0202513,tvSeries,Opposite Sex,Opposite Sex,0,2000,2000,60,"Comedy,Drama"
194670,tt0202724,tvSeries,D.C.,D.C.,0,2000,2000,60,Drama
196599,tt0204765,tvSeries,City of Angels,City of Angels,0,2000,2000,60,Drama
196819,tt0204993,tvSeries,Dark Angel,Dark Angel,0,2000,2002,60,"Action,Drama,Mystery"
197490,tt0205700,tvSeries,Titus,Titus,0,2000,2002,23,"Comedy,Drama"
198205,tt0206476,tvSeries,Cleopatra 2525,Cleopatra 2525,0,2000,2001,60,"Action,Fantasy,Sci-Fi"
198236,tt0206511,tvSeries,Even Stevens,Even Stevens,0,2000,2003,30,"Comedy,Family"
198957,tt0207275,tvMiniSeries,The 10th Kingdom,The 10th Kingdom,0,2000,2000,417,"Adventure,Comedy,Family"
200210,tt0208629,tvMiniSeries,Nuremberg,Nuremberg,0,2000,2000,180,"Drama,History,War"
201083,tt0209557,tvSeries,Wonderland,Wonderland,0,2000,2000,50,Drama
201778,tt0210294,tvMiniSeries,Snow Queen,Snow Queen,0,2002,2002,180,"Adventure,Family,Fantasy"
201892,tt0210413,tvSeries,Clerks,Clerks,0,2000,2001,22,"Animation,Comedy"
201916,tt0210438,tvSeries,Passion Cove,Passion Cove,0,2000,2001,28,"Comedy,Drama"
203224,tt0211852,tvSeries,Ramona,Ramona,0,2000,2000,45,"Drama,Romance"
203994,tt0212671,tvSeries,Malcolm in the Middle,Malcolm in the Middle,0,2000,2006,22,"Comedy,Family"
204002,tt0212679,tvSeries,My Little Pony Tales,My Little Pony Tales,0,2001,2001,30,"Adventure,Animation,Family"
204009,tt0212686,tvSeries,Power Rangers Lightspeed Rescue,Power Rangers Lightspeed Rescue,0,2000,2001,30,"Action,Adventure,Drama"
204149,tt0212831,tvSeries,Brutally Normal,Brutally Normal,0,2000,2000,30,Comedy
204619,tt0213327,tvSeries,Andromeda,Andromeda,0,2000,2005,43,"Action,Adventure,Drama"
204806,tt0213523,tvSeries,Blue Murder,Blue Murder,0,2001,2004,60,"Crime,Drama"
206581,tt0215402,tvSeries,Control,Control,0,2000,2006,60,Reality-TV
208259,tt0217172,tvSeries,The Squad,B.R.I.G.A.D.,0,2000,2004,52,"Crime,Thriller"
208640,tt0217579,tvMiniSeries,Jason and the Argonauts,Jason and the Argonauts,0,2000,2000,180,"Adventure,Fantasy"
209006,tt0217960,tvSeries,Something in the Air,Something in the Air,0,2000,2002,25,Drama
209769,tt0218787,tvSeries,Ripley's Believe It or Not!,Ripley's Believe It or Not!,0,2000,2003,42,Documentary
210370,tt0219430,tvMiniSeries,Bek√§nnelsen,Bek√§nnelsen,0,2001,2001,171,Thriller
210385,tt0219446,tvSeries,The Oblongs,The Oblongs...,0,2001,2002,284,"Animation,Comedy,Sci-Fi"
210885,tt0220008,tvSeries,RoboCop: Prime Directives,RoboCop: Prime Directives,0,2001,2001,375,"Action,Crime,Sci-Fi"

In [12]:
df.titleType.value_counts()

tvEpisode       879985
short           479525
movie           221311
video           149475
tvSeries         61977
tvMovie          47585
tvMiniSeries     12338
tvSpecial        12329
tvShort           5712
videoGame          271
Name: titleType, dtype: int64

In [10]:
df.loc[(df['titleType'] == 'movie')]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,133,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
66336,tt0067683,movie,Workers '71: Nothing About Us Without Us,Robotnicy 1971 - Nic o nas bez nas,0,2006.0,NaN,47,Documentary
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
...,...,...,...,...,...,...,...,...,...
9492579,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
9492663,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama
9492704,tt9916622,movie,Rodolpho Te√≥philo - O Legado de um Pioneiro,Rodolpho Te√≥philo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary
9492731,tt9916680,movie,De la ilusi√≥n al desconcierto: cine colombiano...,De la ilusi√≥n al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary
9492763,tt9916754,movie,Chico Albuquerque - Revela√ß√µes,Chico Albuquerque - Revela√ß√µes,0,2013.0,NaN,49,Documentary

In [13]:
is_documentary = df['genres'].str.contains('documentary',case=False)
df = df[~is_documentary]

In [14]:
file_2 = 'https://datasets.imdbws.com/title.akas.tsv.gz'
akas = pd.read_csv(file_2, sep='\t', low_memory=False)

In [ ]:
akas = akas.replace({'\\N':np.nan})

In [ ]:
akas.loc[(akas['region'] == 'US')]

In [ ]:
keepers =df['tconst'].isin(akas['titleId'])
keepers

In [ ]:
df = df[keepers]
df

In [ ]:
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

In [ ]:
df.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [ ]:
df = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
df.head()

# PART II

In [17]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /Users/hassaanasif/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (2.9.1)
Requirement already satisfied: requests in /Users/hassaanasif/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/hassaanasif/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/hassaanasif/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/hassaanasif/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/hassaanasif/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (3.3)

In [18]:
import json
with open('/Users/hassaanasif/desktop/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [19]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [20]:
movie = tmdb.Movies(603)

In [21]:
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/l4QHerTSbMI7qgvasqxP36pqjN6.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 93.363,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/tXMFoE8AtNdnFzWOW0aCLwl7xxS.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.194,
 'vote_count': 22542}

In [24]:
info['budget']

63000000

In [25]:
info['revenue']

463517383

In [26]:
info['imdb_id']

'tt0133093'

In [27]:
# Searching using the IMDB_ID 
movie = tmdb.Movies('tt1361336')
info = movie.info()
info['budget']

50000000

In [28]:
releases = movie.releases()
for c in releases['countries']:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

PG
PG
PG

In [29]:
movie = tmdb.Movies('tt1361336')
# save the .info .releases dictionaries
info = movie.info()
releases = movie.releases()
# Loop through countries in releases
for c in releases['countries']:
    # if the country abbreviation==US
    if c['iso_3166_1' ] =='US':
        ## save a "certification" key in the info dict with the certification
       info['certification'] = c['certification']

In [33]:
def get_movie_with_rating(movie_id):
    movie = tmdb.Movies(movie_id)
    
    info = movie.info()
    
    releases = movie.releases()
    
    for c in releases['countries']:
            if c['iso_3166_1'] == 'US':
                info['certification'] = c['certification']
    return info

In [34]:
get_movie_with_rating("tt0848228")

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 125.101,
 'poster_path': '/tYqp6vEOo8YlVWrYQvt9nyOhsA2.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': '‡§π‡§ø‡§®‡•ç‡§¶‡•Ä'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.708,
 'vote_count': 27943,
 'certification': 'PG-13'}

In [39]:
import pandas as pd
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]
results = []
for movie_id in test_ids:
    
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
    except: 
        pass
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.708,27943,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.708,27943,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.881,10007,PG-13

In [40]:
import pandas as pd
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]
results = []
errors = []
for movie_id in test_ids:
    
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
    except Exception as e: 
        errors.append([movie_id, e])
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.708,27943,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.708,27943,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.881,10007,PG-13

In [41]:
print(f"- Number of errors: {len(errors)}")
errors

- Number of errors: 1

[['tt0115937',
  requests.exceptions.HTTPError('404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/tt0115937?api_key=e7bcd4cc5a917ccd01b193357257ecea')]]

In [42]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title_basics.csv.gz']

In [43]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [44]:
YEARS_TO_GET = [2000,2001]

In [53]:
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
# save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
            #Saving new year as the current df
            basics = df.loc[ df['startYear']==YEAR].copy()
    # saving movie ids to list
            movie_ids = df['tconst'].copy()
        
    # INNER Loop
            for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
                try:
            # Retrieve then data for the movie id
                    temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
                    write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
                    time.sleep(0.02)
            
                except Exception as e:
                    errors.append([movie_id, e])

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

In [64]:
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

In [54]:
print(f"- Total errors: {len(errors)}")

- Total errors: 1

In [62]:
previous_df = pd.read_json(JSON_FILE)